// Buttons
$btnFontSize: 12px;
$btnDefaultPadding: 20px 36px;

// Buttons default
$defaultBtnBg: #fff;
$defaultBtnColor:#1585ff;
$defaultBtnBorderColor: #c1defd;

// Buttons default hover
$defaultBtnHoverBg: #1585ff;
$defaultBtnHoverColor: #fff;