// Inputs
$inputHeight: 64px;
$inputBorderColor: #ededed;
$inputBg: #f9f9f9;
$inputColor: #9da0a4;
$inputFontSize: 14px;
$inputRadius: 3px;
$inputFocusBg: #fff;

// Labels
$labelFontSize: 14px;
$labelColor: $defaultDarkColor;
